<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/base.css">
  <link rel="stylesheet" href="/detail-view.css">

  <title>Home</title>
</head>

<body>
<%- include("../partials/header.ejs") %>
<div class="container">
  <!-- Header -->

    <img src="<%= movie.image %>" alt="<%= movie.title %> Image" style="width:250px;height:300px;" />

    <h2>
      <%= movie.title %>
    </h2>

    <p>
      <%= movie.Description %>
    </p>

    <p>
      Duration :  <%= movie.Duration %>  <br/>
      Rating : <%= movie.Rating %>
    </p>
</div>
</body>

</html>
